<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Neem contact op</h2>
                    <h3 class="section-subheading text-muted">Heb je een vraag of wil je samenwerken? Stuur gerust een bericht.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" action="https://formsubmit.co/pleun28@gmail.com" method="POST">
                        <input type="hidden" name="_subject" value="Nieuw bericht via portfolio site">
                        <input type="hidden" name="_captcha" value="false">
                        <input type="hidden" name="_next" value="{{ site.url }}{{ site.baseurl }}/#contact">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Je naam *" id="name" name="name" required>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Je e-mailadres *" id="email" name="email" required>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" placeholder="Je telefoonnummer *" id="phone" name="phone" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="Je bericht *" id="message" name="message" required></textarea>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-xl">Verstuur bericht</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
