<!-- Piano Section -->
    <section id="piano">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mijn favoriete stukken</h2>
                    <h3 class="section-subheading text-muted">Mijn favoriete bezigheid is pianospel. Vandaar dat ik het ook hier graag kort samenvat aan de hand van mijn favoriete stukken.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Summertime van George Gershwin</h4>
                    <p class="text-muted">Oorspronkelijk geschreven voor de opera <em>Porgy and Bess</em>; dit slaapliedje groeide uit tot een van de meest opgenomen nummers ooit, in klassiek, jazz en soul.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/portfolio/piano/piano-small.jpeg" alt="Piano" class="img-circle img-responsive center-block" style="width: 120px; height: 120px; object-fit: cover;">
                    </span>
                    <h4 class="service-heading">Fuga nr. 7 in A majeur van Dmitri Shostakovich</h4>
                    <p class="text-muted">Onderdeel van de 24 Preludes en Fuga's: een modern eerbetoon aan Bach, maar met Shostakovichs eigen, verschuivende harmonien en subtiele spanning.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">4 Mazurka's, Op. 17 nr. 2 in e mineur van Frederic Chopin</h4>
                    <p class="text-muted">Deze mazurka combineert een Pools dansritme met een intieme, melancholische sfeer en laat zien hoe Chopin volksinvloeden omzette in heel persoonlijke muzikale poezie.</p>
                </div>
            </div>
        </div>
    </section>
